*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
body{
    background: #1C1C1B;
    color:white;
}
/*flex-direccion*/
/*flex-item:nth-child(n)*/
/*align-items: center;*/
/*
@media only screen and (max-width: 426px){
   header{
       display: none;
   }
}
*/
/*----------------------index--------------------*/

/*------------------ header -------------------*/
.caja-menu{
    display: none;
}
header{
    display: flex;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}
.logo{
    position: relative;
    width: 185px;
    height: 100px;
}
.header{
    display: flex;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}

.header nav{
    flex-grow: 1;
}

.li-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 50px;
}
.li-container li{
    list-style: none;
}
.li-container li a{
    text-decoration: none;
}
.iniciar{
    display: flex;
    background-color: #E02C28;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;    
}
.iniciar:before{
    content: "Iniciar Sesion";
}

.li-desplegable{
    display: none;
    flex-direction: column;
    align-items: center;
}
/*---------------- main ---------------*/
section{
    position: relative;
    top:80px;
}

/*-----------------primera fila----------------*/
/*
.primera-fila{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}
.primera-fila div{
    flex-basis: auto;
    flex-grow: 1;
}
.cohete1{
    position: relative;
    width: 50%;
    height: 90%;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aprendizaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caja-cohete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aprendizaje P{
    letter-spacing: 0.2em
}
.texto-cambia:before{
    content:"Aprende,crea y comparte código.";
}
.aprendizaje p:nth-child(1){
    font-size: 2rem;
}
.aprendizaje p:nth-child(2){
    font-size: 2rem;
}
.aprendizaje p:nth-child(3){
    font-size: 6rem;
}
.aprendizaje p:nth-child(4){
    font-size: 6rem;
}
.aprendizaje p:nth-child(5){
    font-size: 1.5rem;
}
*/


/*-------------------link somos--------------------------------*/
.caja-somos{
    display: flex;
    justify-content: center;
    top: 80px;
    position: relative;
}
.somos{
    width:150px;
    height: 110px;
}
/*----------------segunda fila--------------------*/
.segunda-fila{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 580px;
}
.cohete2{
    width: 100px;
}
.segunda-fila img:nth-child(2){
    width: 40%;
}
.segunda-fila p{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
}
.caja-segunda-p{
    margin-top:20px;
}
/*-----------------------bt1----------------------*/
.bt-caja{
    display: flex;
    justify-content: center;
    top: 80px;
    position: relative;
}
.bt{
    width: 110px;
    height: 110px;
}
/*--------------------tercera fila----------------*/
.tercera-fila{
    display: flex;
    width: 100%;
    height: 580px;
}
.contenedor2{
    width: 50%;
    display: flex;
    justify-content: center;
}
.caja-texto{
    width: 79%;
    display: flex;
    align-items: center;
}
.caja-cabina{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabina{
    width: 500px;
    height: 500px;
}
.caja-texto  p{
    font-size: 3rem;
}
/*-----------------cuarta fila-------------*/

.caja-cabihack{
    padding-top:80px;
    display: flex;
    justify-content: center;
}
.cabihack{
    font-size: 2rem;
    margin: 30px 0px;
}

/*-----------------------fin index--------------------------*/

/*-----------------------talleres----------------------*/

/*------------------segunda fila-------------------*/
.caja-taller{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.taller{
    background-color: white;
    margin: 20px 0px 20px 0px;
    width:30%;
    height: 200px;
    border: grey 2px solid;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px grey;
}
/*--------------------desarrolladores banner--------------------------*/
/*
.desarrollador{
    background-color: white;
    margin: 20px 0px 20px 0px;
    width:30%;
    height: 200px;
    border: grey 2px solid;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px grey;
}
.caja-desarrolladores{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
*/
/*----------------------------bannerssss-------------------------*/
.banner-pantalla img{
    width: 85%;
    display: block;
    margin: auto;
}
.banner-celular{
    display: none;
}
/*---------------------------logo--movil-------------------------------*/
.expande{
    animation-name: expande;
    animation-fill-mode: forwards;/***/
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
.contrae{
    animation-name: contrae;
    animation-fill-mode: forwards;/***/
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
@keyframes expande{
    0%{
        top: 0;
    }
    100%{
        top: -50px;
    }
}
@keyframes contrae{
    0%{
        top: -50px;
    }
    100%{
        top: 0;
    }
}

/*-----------------fila-prueba------------------------*/
.fila_prueba{
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(3rem,5rem) minmax(200px,500px));
    grid-gap: 4rem;
}
.titulo_prueba{
    color:#CB3A42;
    font-size:2rem;
    font-weight: bold;
}
.imagen_prueba{
    width: 100%;
}
@media screen and ( min-width: 320px) and (max-width: 374px){
    .texto_prueba{
        font-size: .6rem;
    }
    .titulo_prueba{
        font-size:1rem;
    }
    .fila_prueba{
        margin: 1.5rem;
        grid-gap: .5rem;
    }
    .imagen_prueba{
        width: 30px;
        margin:auto;
    }
}
@media screen and ( min-width: 375px) and ( max-width: 424px){
    .texto_prueba{
        font-size: .7rem;
    }
    .titulo_prueba{
        font-size:1rem;
    }
    .fila_prueba{
        margin: 2rem;
        grid-gap: 1rem;
    }
    .imagen_prueba{
        width: 40px;
        margin:auto;
    }
}
@media screen and ( min-width: 425px) and ( max-width: 767px){
    .texto_prueba{
        font-size: .8rem;
    }
    .titulo_prueba{
        font-size:1rem;
    }
    .fila_prueba{
        margin: 2rem;
        grid-gap: 1.5rem;
    }
    .imagen_prueba{
        width: 50px;
        margin:auto;
    }
}

/*---------------------slider prueba--------------------------*/
.slider_prueba{
    width: 100%;
    overflow: hidden;
    top:80px;
    position: relative;
}
.slider_prueba ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: cambio 6s infinite alternate;
}
.slider_prueba li{
    width: 100%;
    list-style: none;
}
@keyframes cambio{
    0% {margin-left: 0;}
    50% {margin-left: 0;}
    65% {margin-left: -100%;}
    100% {margin-left: -100%;}
}
/*------------------------------footer prueba------------------------*/
footer{
    top:80px;
    position: relative;
    background: #554B4B;
}
.footer_prueba_filas{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-gap: 2rem;
}
.footer_prueba_primera{
    margin: auto;
}
.footer_prueba_primera p{
    font-weight: bold;
    padding: 1rem .5rem;
}
.footer_prueba_primera ul li{
    list-style: none;
    padding: .5rem;
}
.footer_prueba_segunda p{
    padding: 1rem 0;
}
.footer_email{
    color:black;
    width: 20rem;
    height: 40px;
}
.footer_boton{
    background: black;
    color:white;
    font-weight: bold;
    border-style: none;
    height: 45px;
    padding: 0 1rem;
}
.footer_prueba_tercera p{
    padding: 1rem 0;
}
.footer_caja_iconos{
    width: 80%;
    background: #474747;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
}
.footer_caja_iconos i{
    font-size: 3rem;
}

.footer_prueba_pie{
    display: flex;
    justify-content: center;
}
.footer_prueba_pie p{
    padding: 1rem;
}
@media screen and ( min-width: 320px) and ( max-width: 767px){
    .footer_prueba_filas{
        display: flex;
        flex-direction: column;
    }
    .footer_prueba_primera{
        display: flex;
        flex-direction: column;
    }
    .footer_prueba_primera ul{
        display: flex;
    }
    .footer_prueba_primera li{
        font-size: .5rem;
    }
    .footer_prueba_segunda p{
        padding: 1rem 1rem;
        text-align: center;
    }
    .footer_prueba_segunda form{
        display: flex;
        justify-content: center;
    }
    .footer_email{
        width: 8rem;
        height: 20px;
    }
    .footer_boton{
        height: 25px;
        padding: 0 .5rem;
    }
    .footer_prueba_tercera p{
        text-align: center;
    }
    .footer_caja_iconos{
        margin: auto;
    }
    .footer_caja_iconos i{
        font-size: 1.5rem;
    }
    .footer_prueba_pie p{
        padding: .5rem;
        font-size: .5rem;
    }
}
/*
----------------------------sedes prueba----------------------------
.sedes_prueba{
    display: grid;
    grid-template-columns: 15rem 1fr;
}

*/

/*--------------------------------------------------------------------------
/////////////////////////////////contacto prueba////////////////////////////
---------------------------------------------------------------------------*/
.prueba_grid_form{
    top:80px;
    position: relative;
    background: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7,3rem);
    grid-gap: .5rem;
    padding: 4rem 10rem;
}
.prueba_grid_form input,textarea{
    background: black;
    color: white;
    border: none;
}
.prueba_grid_form input{
    padding: 1rem;
}
#nombre{
    grid-column: 1/3;
    grid-row: 1/2;
}
#apellido{
    grid-column: 3/5;
    grid-row: 1/2;
}
#email{
    grid-column: 1/3;
    grid-row: 2/3;
}
#telefono{
    grid-column: 3/5;
    grid-row: 2/3;
}
#mensaje{
    padding: 1rem;
    resize: none;
    grid-column:1/5; 
    grid-row: 3/7; 
}
#enviar{
    font-size: 1.5rem;
    grid-column: 4/5;
    grid-row: 7/8;
    padding: 0;
    color:gray;
}
@media screen and ( min-width: 320px) and ( max-width: 767px){
    .prueba_grid_form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9,2rem);
        grid-gap: 1rem;
        padding: 2rem;
    }
    #nombre{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #apellido{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    #email{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #telefono{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #mensaje{
        grid-column:1/3; 
        grid-row: 5/9;
    }
    #enviar{
        grid-column: 2/3;
        grid-row: 9/10;
        font-size: 1rem;
    }
}

/*formulario */ 
/*
.banner-form{
	margin-top: 0;
	position: relative;	
}
h2.form-h2, p.form-p{
	text-align: center;
    color: gray;
}
.form-text {
    position: absolute;
    top: 70%;
    left: 20%;
}
.datos, .email-enterprise, .form-textarea{
    width: 100%;
    margin: 0.5rem;
}
textarea.text-mensaje {
    margin-bottom: 2rem;
    resize: none;
    overflow: hidden;
}
input.form-name, input.form-last-name, input.form-email, input.form-enterprise, textarea.text-mensaje{
	border: 1px solid gray;
	font-family: "Lato";
	font-size: 1em;
	padding: 1rem;
}
input.form-name {
    margin-right: 10px;
    width: 50%;
}
input.form-last-name {
    width: 39%;
}
input.form-email {
    margin-right: 10px;
    width: 50%;
}

input.form-enterprise {
    width: 39%;
}
/*button */ 
/*
button.text-btn-envio {
    border: 2px solid #000000;
    background: #000000;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    float: right;
    padding: 0.5rem 4rem;
}
.form-btn{
	margin: 0.5rem;
}

*/



/*--------------------------------------------------------------------
//////////////////////////DESARROLLADORES_PRUEBA///////////////////////
----------------------------------------------------------------------*/
.caja_desarrolladores_prueba{
    background: white;
    padding: 2rem 8rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
.caja_desarrolladores_prueba img{
    /*transition: content 2s ease-in-out;*/
    width: 100%;
}
.caja_desarrolladores_prueba_img_1:hover{
    content: url(../desarrolladores/desarrollador_1_c.png);
}
.caja_desarrolladores_prueba_img_2:hover{
    content: url(../desarrolladores/desarrollador_2_c.png);
}
.caja_desarrolladores_prueba_img_3:hover{
    content: url(../desarrolladores/desarrollador_3_c.png);
}
@media screen and ( min-width: 320px) and ( max-width: 767px){
    .caja_desarrolladores_prueba{
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;
    }
}
/*--------------------------------------------------------------------
//////////////////////////////TALLERES_PRUEBA//////////////////////////
----------------------------------------------------------------------*/
.caja_talleres_prueba{
    background: white;
    padding: 2rem 8rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 8rem;
}
.caja_talleres_prueba img{
    /*transition: content 2s ease-in-out;*/
    width: 100%;
}
@media screen and ( min-width: 320px) and ( max-width: 767px){
    .caja_talleres_prueba{
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 1rem;
    }
}
/*--------------------------------------------------------------------
//////////////////////////PRIMERA FILA PRUEBA//////////////////////////
----------------------------------------------------------------------*/
.inicio_slider_prueba{
    top:80px;
    position: relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
    /*
    grid-template-rows: repeat(5,4rem);
    */
    grid-template-rows: repeat(2,3rem) repeat(2,7rem) 2rem;
    padding: 0 8rem 4rem 8rem;
    /*
    grid-gap: 1rem;
    */
    grid-gap: .5rem;
}
.inicio_slider_prueba_1{
    font-size: 3rem;
    grid-column: 1/2;
    grid-row: 1/2;
}
.inicio_slider_prueba_2{
    font-size: 3rem;
    grid-column: 1/2;
    grid-row: 2/3;
}
.inicio_slider_prueba_3{
    font-size: 7rem;
    grid-column: 1/2;
    grid-row: 3/4;
}
.inicio_slider_prueba_4{
    font-size: 7rem;
    grid-column: 1/2;
    grid-row: 4/5;
}
.texto-cambia{
    font-size: 2rem;
    grid-column: 1/2;
    grid-row: 5/6;
}
.texto-cambia:before{
    content:"Aprende,crea y comparte código.";
}
.inicio_slider_prueba_imagen{
    grid-column: 2/3;
    grid-row: 1/6;
}
.cohete1{
    width: 100%;
}
@media screen and ( min-width: 320px) and ( max-width: 767px){
    .inicio_slider_prueba{
        display:grid;
        grid-template-columns: 1fr;
        /*
        grid-template-rows: repeat(5,4rem);
        */
        grid-template-rows: repeat(2,1.5rem) repeat(2,4rem) 1rem;
        padding: 1rem 2rem;
        /*
        grid-gap: 1rem;
        */
    }
    .inicio_slider_prueba:before{
        content: "";
        width: 100%;
        height: 100%;
        background: url(../img/ANIM1-B.png);
        background-size: 100% 100%;
        position: absolute;
        opacity: 0.4;
    }
    .inicio_slider_prueba{
        position: relative;
    }
    .inicio_slider_prueba p{
        text-align: center;
    }
    .inicio_slider_prueba_1{
        font-size: 1.5rem;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .inicio_slider_prueba_2{
        font-size: 1.5rem;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .inicio_slider_prueba_3{
        font-size: 4rem;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .inicio_slider_prueba_4{
        font-size: 4rem;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .texto-cambia{
        font-size: 1rem;
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .texto-cambia:before{
        content:"Usamos cabinas de internet como puntos de encuentro y aprendizaje para crear y compartir código.";
    }
    .inicio_slider_prueba_imagen{
        grid-column: 2/3;
        grid-row: 1/6;
    }
    .cohete1{
        display: none;
    }
}
/*--------------------------------------------------------------------------
/////////////////////////////////Sedes prueba///////////////////////////////
---------------------------------------------------------------------------*/
.geolocalizacion_prueba{
    top: 80px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(8,3rem);
}
.geolocalizacion_prueba button{
    border: none;
    font-size: 1.5rem;
}
@media screen and ( min-width: 320px) and ( max-width: 767px){
    .geolocalizacion_prueba button{
        font-size: 1rem;
    }
}
.geolocalizacion_prueba_boton_1{
    background: black;
    color: white;
    grid-column: 1/2;
    grid-row: 1/2;
}
.geolocalizacion_prueba_boton_2{
    background: white;
    color: grey;
    grid-column: 1/2;
    grid-row: 2/3;
}
.geolocalizacion_prueba_boton_3{
    background: white;
    color: grey;
    grid-column: 1/2;
    grid-row: 3/4;
}
.geolocalizacion_prueba_boton_4{
    background: white;
    color: grey;
    grid-column: 1/2;
    grid-row: 4/5;
}
.geolocalizacion_prueba_boton_5{
    background: white;
    color: grey;
    grid-column: 1/2;
    grid-row: 5/6;
}
.geolocalizacion_prueba_boton_6{
    background: white;
    color: grey;
    grid-column: 1/2;
    grid-row: 6/7;
}
.geolocalizacion_prueba_boton_7{
    background: white;
    color: grey;
    grid-column: 1/2;
    grid-row: 7/8;
}
.geolocalizacion_prueba_boton_8{
    background: white;
    color: grey;
    grid-column: 1/2;
    grid-row: 8/9;
}
#mapa { 
    grid-column: 2/3;
    grid-row: 1/9;
}
