.controles{
	width: 100%;
	display: flex;
}
.controles button{
	flex-grow: 1;
	padding: 10px 0;
	background-color: #474747;
	border: none;
}
.controles button:nth-child(1){
	border-right: 1px solid #A5A5A5;
}
.contenido__detalle{
	width: 100%;
}
.contenido__detalle__header{
	height: 70px;
}

.contenido__detalle__header,
.contenido__detalle__header>*{
	display: flex;
	align-items: center;
}
.contenido__detalle__header{
	justify-content: space-between;
}
.contenido__detalle__header__titulo{
	display: flex;
	justify-content: center;
}

/*********    LETRA Y COLORES   ********/
.detalle__header__titulo__escrito{
	font-size: 1.3rem;
	color: black;
}
.detalle__header__titulo__escrito p:nth-child(2){
	font-size: 1.1rem;
	text-align: center;
	color: black;
}
.detalle__header__titulo__escrito p:nth-child(1){
	color: black;
}

.contenido__detalle__header>span{
	font-size: 3.8rem;
	background-color: #BFBFBF;
	color: #E2E2E2;
	padding: 0 10px;
}
.contenido__detalle{
	background-color: white;
	color: black;
}
.contenido__detalle__foto img{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
/******************/
.contenido__lista{
	display: none;/***/
}
.contenido__mapa{
	width: 100%;
	display: none; /***/
}