/**	DESKTOP **/
@media only screen and (min-width: 426px) {
  .controles {
    display: none;
  }
  .tituloLista {
    display: flex;
  }
  .contenido {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contenido__lista {
    height: 300px;
    order: 2;
  }
  iframe {
    order: 1;
    height: 400px;
  }
  .contenido__lista li {
    padding: 10px 0;
  }
}
/** MOBILE **/
